In [1]:
import pandas as pd
import numpy as np

In [3]:
apple_df = pd.read_csv('../../code/project/data/daily/us/nasdaq_stocks/1/aapl.us.txt')
apple_df.head()

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<OPENINT>
0,AAPL.US,D,19840907,0,0.10197,0.10321,0.10075,0.10197,96517416,0
1,AAPL.US,D,19840910,0,0.10197,0.10228,0.09952,0.10137,74913260,0
2,AAPL.US,D,19840911,0,0.10228,0.10506,0.10228,0.10321,176649912,0
3,AAPL.US,D,19840912,0,0.10321,0.10382,0.10013,0.10013,154318764,0
4,AAPL.US,D,19840913,0,0.10568,0.10598,0.10568,0.10568,240345769,0

## Clean Headers & Dates

In [4]:
## Charles code

def to_date(df, date_column):
    """
    Convert int of dated_col to to datetime object
    """
    dated_col = pd.to_datetime(df[date_column], format=('%Y%m%d'))
    return dated_col

def proper_name(col):
    """
    Mapping function for proper_col()
    """
    col = col.replace('>', '')
    col = col.replace('<', '')
    col = col.lower()
    return col

def proper_col(df):
    """
    Clean column '<TITLE>' to 'title'
    """
    proper_df = pd.DataFrame()
    for col in list(df):
        proper_col = proper_name(col)
        proper_df[proper_col] = df[col]
    return proper_df


apple_df['<DATE>'] = to_date(apple_df, '<DATE>')
apple_df = proper_col(apple_df)
apple_df.head()

,ticker,per,date,time,open,high,low,close,vol,openint
0,AAPL.US,D,1984-09-07,0,0.10197,0.10321,0.10075,0.10197,96517416,0
1,AAPL.US,D,1984-09-10,0,0.10197,0.10228,0.09952,0.10137,74913260,0
2,AAPL.US,D,1984-09-11,0,0.10228,0.10506,0.10228,0.10321,176649912,0
3,AAPL.US,D,1984-09-12,0,0.10321,0.10382,0.10013,0.10013,154318764,0
4,AAPL.US,D,1984-09-13,0,0.10568,0.10598,0.10568,0.10568,240345769,0

## Calculate Returns

In [5]:
## 5 Trading Day Real & Log Returns
apple_df['5TD_return'] = (apple_df['close'] - apple_df['close'].shift(5))/apple_df['close']
apple_df['5TD__log_return'] = np.log(apple_df['close']) - np.log(apple_df['close'].shift(5))

## 10 Trading Day Real & Log Returns
apple_df['10TD_return'] = (apple_df['close'] - apple_df['close'].shift(10))/apple_df['close']
apple_df['10TD__log_return'] = np.log(apple_df['close']) - np.log(apple_df['close'].shift(10))

## 20 Trading Day Real & Log Returns
apple_df['20TD_return'] = (apple_df['close'] - apple_df['close'].shift(20))/apple_df['close']
apple_df['20TD__log_return'] = np.log(apple_df['close']) - np.log(apple_df['close'].shift(20))
apple_df.head(30)

,ticker,per,date,time,open,high,low,close,vol,openint,5TD_return,5TD__log_return,10TD_return,10TD__log_return,20TD_return,20TD__log_return
0,AAPL.US,D,1984-09-07,0,0.10197,0.10321,0.10075,0.10197,96517416,0,NaN,NaN,NaN,NaN,NaN,NaN
1,AAPL.US,D,1984-09-10,0,0.10197,0.10228,0.09952,0.10137,74913260,0,NaN,NaN,NaN,NaN,NaN,NaN
2,AAPL.US,D,1984-09-11,0,0.10228,0.10506,0.10228,0.10321,176649912,0,NaN,NaN,NaN,NaN,NaN,NaN
3,AAPL.US,D,1984-09-12,0,0.10321,0.10382,0.10013,0.10013,154318764,0,NaN,NaN,NaN,NaN,NaN,NaN
4,AAPL.US,D,1984-09-13,0,0.10568,0.10598,0.10568,0.10568,240345769,0,NaN,NaN,NaN,NaN,NaN,NaN
5,AAPL.US,D,1984-09-14,0,0.10598,0.10967,0.10598,0.10722,286176545,0,0.048965,0.050204,NaN,NaN,NaN,NaN
6,AAPL.US,D,1984-09-17,0,0.10999,0.11153,0.10999,0.10999,223441531,0,0.078371,0.081612,NaN,NaN,NaN,NaN
7,AAPL.US,D,1984-09-18,0,0.10999,0.11091,0.10598,0.10598,112798400,0,0.026137,0.026485,NaN,NaN,NaN,NaN
8,AAPL.US,D,1984-09-19,0,0.10598,0.10722,0.10382,0.10382,123210945,0,0.035542,0.036189,NaN,NaN,NaN,NaN
9,AAPL.US,D,1984-09-20,0,0.10414,0.10506,0.10414,0.10414,76705002,0,-0.014788,-0.014680,NaN,NaN,NaN,NaN
10,AAPL.US,D,1984-09-21,0,0.10414,0.10722,0.10197,0.10321,115732545,0,-0.038853,-0.038117,0.012014,0.012087,NaN,NaN
11,AAPL.US,D,1984-09-24,0,0.10321,0.10382,0.10228,0.10228,91583807,0,-0.075381,-0.072675,0.008897,0.008937,NaN,NaN
12,AAPL.US,D,1984-09-25,0,0.10197,0.10197,0.10013,0.10013,193346420,0,-0.058424,-0.056781,-0.030760,-0.030296,NaN,NaN
13,AAPL.US,D,1984-09-26,0,0.10013,0.10474,0.09891,0.09891,128637955,0,-0.049641,-0.048448,-0.012334,-0.012259,NaN,NaN
14,AAPL.US,D,1984-09-27,0,0.09891,0.09952,0.09891,0.09891,122795477,0,-0.052876,-0.051526,-0.068446,-0.066205,NaN,NaN
15,AAPL.US,D,1984-09-28,0,0.09891,0.09891,0.09459,0.09642,270570684,0,-0.070421,-0.068052,-0.112010,-0.106169,NaN,NaN
16,AAPL.US,D,1984-10-01,0,0.09613,0.09613,0.09428,0.09428,113343675,0,-0.084854,-0.081445,-0.166631,-0.154120,NaN,NaN
17,AAPL.US,D,1984-10-02,0,0.09489,0.09828,0.09489,0.09489,137076998,0,-0.055222,-0.053751,-0.116872,-0.110532,NaN,NaN
18,AAPL.US,D,1984-10-03,0,0.09642,0.09797,0.09642,0.09642,139595804,0,-0.025825,-0.025497,-0.076748,-0.073945,NaN,NaN
19,AAPL.US,D,1984-10-04,0,0.09765,0.09828,0.09765,0.09765,145464218,0,-0.012903,-0.012821,-0.066462,-0.064346,NaN,NaN
20,AAPL.US,D,1984-10-05,0,0.09765,0.09765,0.09489,0.09551,113110004,0,-0.009528,-0.009483,-0.080620,-0.077535,-0.067637,-0.065448
21,AAPL.US,D,1984-10-08,0,0.09551,0.09613,0.09551,0.09551,54451720,0,0.012878,0.012962,-0.070883,-0.068483,-0.061355,-0.059546
22,AAPL.US,D,1984-10-09,0,0.09551,0.09613,0.09459,0.09459,145204535,0,-0.003172,-0.003167,-0.058569,-0.056918,-0.091130,-0.087214
23,AAPL.US,D,1984-10-10,0,0.09459,0.09459,0.09181,0.09181,422941982,0,-0.050212,-0.048992,-0.077334,-0.074489,-0.090622,-0.086748
24,AAPL.US,D,1984-10-11,0,0.09181,0.09428,0.09120,0.09120,211860502,0,-0.070724,-0.068335,-0.084539,-0.081155,-0.158772,-0.147361
25,AAPL.US,D,1984-10-12,0,0.09120,0.09181,0.08657,0.08719,308118250,0,-0.095424,-0.091141,-0.105861,-0.100624,-0.229728,-0.206793
26,AAPL.US,D,1984-10-15,0,0.09211,0.09304,0.09211,0.09211,281995945,0,-0.036912,-0.036247,-0.023559,-0.023286,-0.194116,-0.177406
27,AAPL.US,D,1984-10-16,0,0.09211,0.09243,0.09181,0.09181,136817406,0,-0.030280,-0.029831,-0.033548,-0.032997,-0.154340,-0.143529
28,AAPL.US,D,1984-10-17,0,0.09551,0.09613,0.09551,0.09551,181583617,0,0.038739,0.039510,-0.009528,-0.009483,-0.087007,-0.083428
29,AAPL.US,D,1984-10-18,0,0.09828,0.09891,0.09828,0.09828,286514110,0,0.072039,0.074766,0.006410,0.006431,-0.059626,-0.057916

## Create Functions

In [6]:
def caculate_returns(df):
    """
       Calculate Real & Log Returns for 5, 10 & 20 Trading Days
       INPUT: Assumes the headers have been changed. Example: '<CLOSE>' is 'close'
    """
    returns_df = df.copy()
    
    ## 5 Trading Day Real & Log Returns
    returns_df['5TD_return'] = (returns_df['close'] - returns_df['close'].shift(5))/returns_df['close']
    returns_df['5TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(5))

    ## 10 Trading Day Real & Log Returns
    returns_df['10TD_return'] = (returns_df['close'] - returns_df['close'].shift(10))/returns_df['close']
    returns_df['10TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(10))

    ## 20 Trading Day Real & Log Returns
    returns_df['20TD_return'] = (returns_df['close'] - returns_df['close'].shift(20))/returns_df['close']
    returns_df['20TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(20))
    
    return returns_df

In [17]:
def calculate_real_returns(df):
    """
       Calculate Real Returns for 5, 10 & 20 Trading Days
       INPUT: Assumes the headers have been changed. Example: '<CLOSE>' is 'close'
    """
    returns_df = df.copy()
    
    ## 5 Trading Day Real Returns
    returns_df['5TD_return'] = (returns_df['close'] - returns_df['close'].shift(5))/returns_df['close']

    ## 10 Trading Day Real Returns
    returns_df['10TD_return'] = (returns_df['close'] - returns_df['close'].shift(10))/returns_df['close']

    ## 20 Trading Day Real & Log Returns
    returns_df['20TD_return'] = (returns_df['close'] - returns_df['close'].shift(20))/returns_df['close']
    
    return returns_df

In [18]:
def calculate_log_returns_shifted(df):
    """
       Calculate Log Returns for 5, 10 & 20 Trading Days
       INPUT: Assumes the headers have been changed. Example: '<CLOSE>' is 'close'
    """
    returns_df = df.copy()
    
    ## 5 Trading Day Log Returns
    returns_df['5TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(-5))

    ## 10 Trading Day Log Returns
    returns_df['10TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(-10))

    ## 20 Trading Day Log Returns
    returns_df['20TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(-20))
    
    return returns_df

In [19]:
def calculate_log_returns(df):
    """
       Calculate Log Returns for 5, 10 & 20 Trading Days
       INPUT: Assumes the headers have been changed. Example: '<CLOSE>' is 'close'
    """
    returns_df = df.copy()
    
    ## 5 Trading Day Log Returns
    returns_df['5TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(5))

    ## 10 Trading Day Log Returns
    returns_df['10TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(10))

    ## 20 Trading Day Log Returns
    returns_df['20TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(20))
    
    return returns_df

In [33]:
def calculate_log_returns_start(df):
    """
       Calculate Log Returns for 5, 10 & 20 Trading Days
       INPUT: Assumes the headers have been changed. Example: '<CLOSE>' is 'close'
    """
    returns_df = df.copy()
    
    ## 5 Trading Day Log Returns
    returns_df['5TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(5))
    returns_df['5TD__log_return'] = returns_df['5TD__log_return'].shift(-5)

    ## 10 Trading Day Log Returns
    returns_df['10TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(10))
    returns_df['10TD__log_return'] = returns_df['10TD__log_return'].shift(-10)

    ## 20 Trading Day Log Returns
    returns_df['20TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(20))
    returns_df['20TD__log_return'] = returns_df['20TD__log_return'].shift(-20)
    
    return returns_df

In [13]:
df = pd.read_csv('../../code/project/data/daily/us/nasdaq_stocks/1/aacg.us.txt')
df['<DATE>'] = to_date(df, '<DATE>')
df = proper_col(df)
df.head()

,ticker,per,date,time,open,high,low,close,vol,openint
0,AACG.US,D,2008-01-28,0,0.7380,0.7380,0.7380,0.7380,0,0
1,AACG.US,D,2008-01-29,0,0.7380,0.7760,0.6657,0.6797,19169939,0
2,AACG.US,D,2008-01-30,0,0.6797,0.7108,0.6448,0.6603,2818723,0
3,AACG.US,D,2008-01-31,0,0.6595,0.8001,0.6595,0.7418,2345961,0
4,AACG.US,D,2008-02-01,0,0.7714,0.7721,0.7380,0.7387,361853,0

In [14]:
caculate_real_returns(df)

,ticker,per,date,time,open,high,low,close,vol,openint,5TD_return,10TD_return,20TD_return
0,AACG.US,D,2008-01-28,0,0.7380,0.7380,0.7380,0.7380,0,0,NaN,NaN,NaN
1,AACG.US,D,2008-01-29,0,0.7380,0.7760,0.6657,0.6797,19169939,0,NaN,NaN,NaN
2,AACG.US,D,2008-01-30,0,0.6797,0.7108,0.6448,0.6603,2818723,0,NaN,NaN,NaN
3,AACG.US,D,2008-01-31,0,0.6595,0.8001,0.6595,0.7418,2345961,0,NaN,NaN,NaN
4,AACG.US,D,2008-02-01,0,0.7714,0.7721,0.7380,0.7387,361853,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3160,AACG.US,D,2021-01-19,0,1.3000,1.3940,1.2700,1.3038,63308,0,0.033594,0.094953,0.094953
3161,AACG.US,D,2021-01-20,0,1.3100,1.5100,1.3000,1.3800,206115,0,0.095652,0.108696,0.130290
3162,AACG.US,D,2021-01-21,0,1.4100,1.4200,1.3503,1.4000,45028,0,0.135714,0.128571,0.142857
3163,AACG.US,D,2021-01-22,0,1.4800,1.4899,1.3000,1.3500,80833,0,0.066667,0.060296,0.125926
3164,AACG.US,D,2021-01-25,0,1.4400,1.4600,1.3320,1.3882,32156,0,0.092350,0.106037,0.077943

In [24]:
with_returns = calculate_log_returns(df)
with_returns.head(20)

,ticker,per,date,time,open,high,low,close,vol,openint,5TD__log_return,10TD__log_return,20TD__log_return
0,AACG.US,D,2008-01-28,0,0.7380,0.7380,0.7380,0.7380,0,0,NaN,NaN,NaN
1,AACG.US,D,2008-01-29,0,0.7380,0.7760,0.6657,0.6797,19169939,0,NaN,NaN,NaN
2,AACG.US,D,2008-01-30,0,0.6797,0.7108,0.6448,0.6603,2818723,0,NaN,NaN,NaN
3,AACG.US,D,2008-01-31,0,0.6595,0.8001,0.6595,0.7418,2345961,0,NaN,NaN,NaN
4,AACG.US,D,2008-02-01,0,0.7714,0.7721,0.7380,0.7387,361853,0,NaN,NaN,NaN
5,AACG.US,D,2008-02-04,0,0.7380,0.7543,0.7380,0.7380,105999,0,0.000000,NaN,NaN
6,AACG.US,D,2008-02-05,0,0.7380,0.7380,0.7014,0.7077,379083,0,0.040369,NaN,NaN
7,AACG.US,D,2008-02-06,0,0.6991,0.7325,0.6735,0.6991,205548,0,0.057100,NaN,NaN
8,AACG.US,D,2008-02-07,0,0.6991,0.7380,0.6991,0.7302,76972,0,-0.015761,NaN,NaN
9,AACG.US,D,2008-02-08,0,0.7084,0.7217,0.6991,0.6999,100707,0,-0.053954,NaN,NaN
10,AACG.US,D,2008-02-11,0,0.7030,0.7123,0.6991,0.7022,44081,0,-0.049726,-0.049726,NaN
11,AACG.US,D,2008-02-12,0,0.7030,0.7123,0.6991,0.7069,371187,0,-0.001131,0.039238,NaN
12,AACG.US,D,2008-02-13,0,0.6999,0.7030,0.6991,0.6999,169615,0,0.001144,0.058243,NaN
13,AACG.US,D,2008-02-14,0,0.7061,0.7061,0.6991,0.7038,167673,0,-0.036824,-0.052585,NaN
14,AACG.US,D,2008-02-15,0,0.6999,0.7046,0.6991,0.6991,127857,0,-0.001144,-0.055098,NaN
15,AACG.US,D,2008-02-19,0,0.7147,0.7185,0.7069,0.7147,39769,0,0.017645,-0.032081,NaN
16,AACG.US,D,2008-02-20,0,0.7147,0.7465,0.7147,0.7465,294859,0,0.054506,0.053375,NaN
17,AACG.US,D,2008-02-21,0,0.7403,0.8001,0.7403,0.7690,1112319,0,0.094154,0.095297,NaN
18,AACG.US,D,2008-02-22,0,0.7550,0.7550,0.7473,0.7473,40581,0,0.059972,0.023148,NaN
19,AACG.US,D,2008-02-25,0,0.7418,0.7418,0.7224,0.7364,84607,0,0.051980,0.050836,NaN

In [27]:
with_returns['5TD__log_return'] = with_returns['5TD__log_return'].shift(-5)

In [28]:
with_returns

,ticker,per,date,time,open,high,low,close,vol,openint,5TD__log_return,10TD__log_return,20TD__log_return
0,AACG.US,D,2008-01-28,0,0.7380,0.7380,0.7380,0.7380,0,0,0.000000,NaN,NaN
1,AACG.US,D,2008-01-29,0,0.7380,0.7760,0.6657,0.6797,19169939,0,0.040369,NaN,NaN
2,AACG.US,D,2008-01-30,0,0.6797,0.7108,0.6448,0.6603,2818723,0,0.057100,NaN,NaN
3,AACG.US,D,2008-01-31,0,0.6595,0.8001,0.6595,0.7418,2345961,0,-0.015761,NaN,NaN
4,AACG.US,D,2008-02-01,0,0.7714,0.7721,0.7380,0.7387,361853,0,-0.053954,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3160,AACG.US,D,2021-01-19,0,1.3000,1.3940,1.2700,1.3038,63308,0,NaN,0.099769,0.099769
3161,AACG.US,D,2021-01-20,0,1.3100,1.5100,1.3000,1.3800,206115,0,NaN,0.115069,0.139595
3162,AACG.US,D,2021-01-21,0,1.4100,1.4200,1.3503,1.4000,45028,0,NaN,0.137621,0.154151
3163,AACG.US,D,2021-01-22,0,1.4800,1.4899,1.3000,1.3500,80833,0,NaN,0.062191,0.134590
3164,AACG.US,D,2021-01-25,0,1.4400,1.4600,1.3320,1.3882,32156,0,NaN,0.112090,0.081148

In [34]:
calculate_log_returns_start(df).head(20)

,ticker,per,date,time,open,high,low,close,vol,openint,5TD__log_return,10TD__log_return,20TD__log_return
0,AACG.US,D,2008-01-28,0,0.7380,0.7380,0.7380,0.7380,0,0,0.000000,-0.049726,0.006214
1,AACG.US,D,2008-01-29,0,0.7380,0.7760,0.6657,0.6797,19169939,0,0.040369,0.039238,0.083240
2,AACG.US,D,2008-01-30,0,0.6797,0.7108,0.6448,0.6603,2818723,0,0.057100,0.058243,0.126845
3,AACG.US,D,2008-01-31,0,0.6595,0.8001,0.6595,0.7418,2345961,0,-0.015761,-0.052585,0.075657
4,AACG.US,D,2008-02-01,0,0.7714,0.7721,0.7380,0.7387,361853,0,-0.053954,-0.055098,0.085702
5,AACG.US,D,2008-02-04,0,0.7380,0.7543,0.7380,0.7380,105999,0,-0.049726,-0.032081,0.070996
6,AACG.US,D,2008-02-05,0,0.7380,0.7380,0.7014,0.7077,379083,0,-0.001131,0.053375,0.112920
7,AACG.US,D,2008-02-06,0,0.6991,0.7325,0.6735,0.6991,205548,0,0.001144,0.095297,0.125146
8,AACG.US,D,2008-02-07,0,0.6991,0.7380,0.6991,0.7302,76972,0,-0.036824,0.023148,0.142580
9,AACG.US,D,2008-02-08,0,0.7084,0.7217,0.6991,0.6999,100707,0,-0.001144,0.050836,0.230007
10,AACG.US,D,2008-02-11,0,0.7030,0.7123,0.6991,0.7022,44081,0,0.017645,0.055939,0.347921
11,AACG.US,D,2008-02-12,0,0.7030,0.7123,0.6991,0.7069,371187,0,0.054506,0.044003,0.302810
12,AACG.US,D,2008-02-13,0,0.6999,0.7030,0.6991,0.6999,169615,0,0.094154,0.068602,0.279937
13,AACG.US,D,2008-02-14,0,0.7061,0.7061,0.6991,0.7038,167673,0,0.059972,0.128242,0.264177
14,AACG.US,D,2008-02-15,0,0.6999,0.7046,0.6991,0.6991,127857,0,0.051980,0.140800,0.156090
15,AACG.US,D,2008-02-19,0,0.7147,0.7185,0.7069,0.7147,39769,0,0.038295,0.103077,0.103077
16,AACG.US,D,2008-02-20,0,0.7147,0.7465,0.7147,0.7465,294859,0,-0.010504,0.059544,-0.011452
17,AACG.US,D,2008-02-21,0,0.7403,0.8001,0.7403,0.7690,1112319,0,-0.025551,0.029849,-0.036955
18,AACG.US,D,2008-02-22,0,0.7550,0.7550,0.7473,0.7473,40581,0,0.068270,0.119432,0.058473
19,AACG.US,D,2008-02-25,0,0.7418,0.7418,0.7224,0.7364,84607,0,0.088820,0.179171,0.102151

In [35]:
def calculate_log_returns_marcin(df):
    """
       Calculate Log Returns for 5, 10 & 20 Trading Days
       INPUT: Assumes the headers have been changed. Example: '<CLOSE>' is 'close'
    """
    returns_df = df.copy()
    ## 5 Trading Day Log Returns
    returns_df['5TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(-5))
    ## 10 Trading Day Log Returns
    returns_df['10TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(-10))
    ## 20 Trading Day Log Returns
    returns_df['20TD__log_return'] = np.log(returns_df['close']) - np.log(returns_df['close'].shift(-20))
    return returns_df

calculate_log_returns_marcin(df).head(20)

,ticker,per,date,time,open,high,low,close,vol,openint,5TD__log_return,10TD__log_return,20TD__log_return
0,AACG.US,D,2008-01-28,0,0.7380,0.7380,0.7380,0.7380,0,0,0.000000,0.049726,-0.006214
1,AACG.US,D,2008-01-29,0,0.7380,0.7760,0.6657,0.6797,19169939,0,-0.040369,-0.039238,-0.083240
2,AACG.US,D,2008-01-30,0,0.6797,0.7108,0.6448,0.6603,2818723,0,-0.057100,-0.058243,-0.126845
3,AACG.US,D,2008-01-31,0,0.6595,0.8001,0.6595,0.7418,2345961,0,0.015761,0.052585,-0.075657
4,AACG.US,D,2008-02-01,0,0.7714,0.7721,0.7380,0.7387,361853,0,0.053954,0.055098,-0.085702
5,AACG.US,D,2008-02-04,0,0.7380,0.7543,0.7380,0.7380,105999,0,0.049726,0.032081,-0.070996
6,AACG.US,D,2008-02-05,0,0.7380,0.7380,0.7014,0.7077,379083,0,0.001131,-0.053375,-0.112920
7,AACG.US,D,2008-02-06,0,0.6991,0.7325,0.6735,0.6991,205548,0,-0.001144,-0.095297,-0.125146
8,AACG.US,D,2008-02-07,0,0.6991,0.7380,0.6991,0.7302,76972,0,0.036824,-0.023148,-0.142580
9,AACG.US,D,2008-02-08,0,0.7084,0.7217,0.6991,0.6999,100707,0,0.001144,-0.050836,-0.230007
10,AACG.US,D,2008-02-11,0,0.7030,0.7123,0.6991,0.7022,44081,0,-0.017645,-0.055939,-0.347921
11,AACG.US,D,2008-02-12,0,0.7030,0.7123,0.6991,0.7069,371187,0,-0.054506,-0.044003,-0.302810
12,AACG.US,D,2008-02-13,0,0.6999,0.7030,0.6991,0.6999,169615,0,-0.094154,-0.068602,-0.279937
13,AACG.US,D,2008-02-14,0,0.7061,0.7061,0.6991,0.7038,167673,0,-0.059972,-0.128242,-0.264177
14,AACG.US,D,2008-02-15,0,0.6999,0.7046,0.6991,0.6991,127857,0,-0.051980,-0.140800,-0.156090
15,AACG.US,D,2008-02-19,0,0.7147,0.7185,0.7069,0.7147,39769,0,-0.038295,-0.103077,-0.103077
16,AACG.US,D,2008-02-20,0,0.7147,0.7465,0.7147,0.7465,294859,0,0.010504,-0.059544,0.011452
17,AACG.US,D,2008-02-21,0,0.7403,0.8001,0.7403,0.7690,1112319,0,0.025551,-0.029849,0.036955
18,AACG.US,D,2008-02-22,0,0.7550,0.7550,0.7473,0.7473,40581,0,-0.068270,-0.119432,-0.058473
19,AACG.US,D,2008-02-25,0,0.7418,0.7418,0.7224,0.7364,84607,0,-0.088820,-0.179171,-0.102151